@import '../MediaQuery/index.css';

.Latest {
  width: 100vw;
  margin-bottom: 34px;

  overflow-y: hidden;
  overflow-x: visible;

  background-color: #000;
}

.Inner {
  display: flex;
  margin: 42px 0 34px 0;
}

@media (--large) {
  .Latest {
    margin-bottom: 58px;
  }

  .Inner {
    margin: 85px 0 55px 0;
  }
}

.EventItem {
  width: 350px;

  padding: 0 23px;
  color: #fff;

  border-right: 3px solid #fff;
}

.EventItem a,
.EventItem a:visited,
.EventItem a:hover {
  color: #fff;
  text-decoration: none;
}

.EventItem:last-child {
  border-right: none;
}

.EventItem > * {
  margin: 0;
  font-weight: normal;
}

.type {
  display: flex;
  align-items: center;
}

.type:before {
  content: ' ';

  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;

  flex-shrink: 0;

  border: solid 2px #fff;
  border-radius: 100%;
}

.image {
  width: 133px;
  height: 83px;

  margin: 12px 0;
}

.title,
.subtitle {
  font-weight: normal;
  margin: 0;
}

@media (--large) {
  .type:before {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .image {
    width: 298px;
    height: 165px;

    margin: 24px 0;
  }
}

.date,
.ticket {
  display: block;
}
