@import '../MediaQuery/index.css';

.Latest {
  width: 100vw;

  overflow-y: hidden;
  overflow-x: visible;
}

.Latest.dark {
  background-color: #000;
}

.Latest.light {
  background-color: transparent;
}

.Inner {
  display: flex;
}

.EventItem {
  width: 350px;

  padding: 0 23px;

  border-right: 3px solid transparent;
}

.dark .EventItem {
  color: #fff;
  border-color: #fff;
}

.light .EventItem {
  color: var(--retune-col-blue);
  border-color: var(--retune-col-blue);
}

.EventItem a:link,
.EventItem a:visited,
.EventItem a:hover {
  text-decoration: none;
}

.dark .EventItem a:link,
.dark .EventItem a:visited,
.dark .EventItem a:hover {
  color: #fff;
}

.large .EventItem a:link,
.large .EventItem a:visited,
.large .EventItem a:hover {
  color: var(--retune-col-blue);
}

.EventItem:last-child {
  border-right: none;
}

.EventItem > * {
  margin: 0;
  font-weight: normal;
}

.type {
  display: flex;
  align-items: center;
}

.type:before {
  content: ' ';

  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;

  flex-shrink: 0;

  border: solid 2px transparent;
  border-radius: 100%;
}

.dark .type:before {
  border-color: #fff;
}

.light .type:before {
  border-color: var(--retune-col-blue);
  background-color: var(--retune-col-blue);
}

.image {
  width: 133px;
  height: 83px;

  margin: 12px 0;
}

.title,
.subtitle {
  font-weight: normal;
  margin: 0;
}

@media (--large) {
  .type:before {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .image {
    width: 298px;
    height: 165px;

    margin: 24px 0;
  }
}

.date,
.ticket {
  display: block;
}
