.Latest {
  height: 500px;
  background-color: #000;

  width: 100vw;
  overflow-y: hidden;
  overflow-x: visible;
}

.Inner {
  display: flex;
  margin: 85px 0 55px 0;
}

.EventItem {
  height: 363px;
  width: 350px;

  padding: 0 23px;
  color: #fff;

  border-right: 3px solid #fff;
}

.EventItem a {
  color: #fff;
  text-decoration: none;
}

.EventItem:last-child {
  border-right: none;
}

.EventItem > * {
  margin: 0;
  line-height: 1.2;
  font-size: 1.56rem;
  font-weight: normal;
}

.type {
  display: flex;
  align-items: center;

  font-family: serif;
  font-size: 29px;
}

.type:before {
  content: ' ';

  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;

  flex-shrink: 0;

  border: solid 2px #fff;
  border-radius: 100%;
}

.image {
  width: 298px;
  height: 165px;

  margin: 24px 0;

  outline: 1px solid grey;
}

.date,
.ticket {
  display: block;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
