@import '../MediaQuery/index.css';

.Quotes {
  position: relative;

  padding: 0;
  background-color: var(--retune-col-blue);
}

.Quote {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 5.5vw 4.5vw 0 4.5vw; /* .Dot provides bottom padding */
  color: #fff;

  font-style: normal;
}

.quote {
  order: 1;

  max-width: 970px;

  margin: 0;
  padding: 0;

  font-size: 5vw;
  line-height: 1.27;
}

@media (min-width: 1300px) {
  .quote {
    font-size: 65px;
    line-height: 1.15;
  }
}

.quote:before {
  content: open-quote;
}

.quote:after {
  content: close-quote;
}

.citation {
  order: 0;

  display: block;
  margin-bottom: 4.29vw;

  font-style: normal;
}

.DotGroup {
  display: flex;
  justify-content: center;

  padding-bottom: 4.64vw;
}

.DotGroup > * {
  width: 1.14vw;
  height: 1.14vw;
  margin-right: 1.43vw;
  padding: 0;

  border-radius: 100%;
  border: 1px solid transparent;
  background-color: #fff;
}

@media (max-width: 877px) {
  .DotGroup > * {
    width: 10px;
    height: 10px;
    margin-right: 13px;
  }
}

@media (min-width: 1400px) {
  .DotGroup > * {
    width: 16px;
    height: 16px;
    margin-right: 20px;
  }
}

.DotGroup > *:disabled {
  background-color: var(--retune-col-selected);
}

.DotGroup > *:last-child {
  margin-right: 0;
}
