.Quotes {
  position: relative;

  height: 755px;
  padding: 70px 70px 120px 70px;
  background-color: var(--retune-col-blue);
}

.Quote {
  display: flex;
  flex-direction: column;

  margin: 0;
  color: #fff;

  font-style: normal;
}

.quote {
  order: 1;

  margin: 0;
  padding: 0;
  font-size: 65px;
}

.quote:before {
  content: open-quote;
}

.quote:after {
  content: close-quote;
}

.citation {
  order: 0;

  display: block;
  margin-bottom: 60px;

  font-size: 25px;
}

.DotGroup {
  display: flex;
  justify-content: center;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 95px;
}

.DotGroup > * {
  width: 16px;
  height: 16px;
  margin-right: 20px;
  padding: 0;

  border-radius: 100%;
  border: 1px solid transparent;
  background-color: #fff;
}

.DotGroup > *:disabled {
  background-color: var(--retune-col-selected);
}

.DotGroup > *:last-child {
  margin-right: 0;
}
