@import '../MediaQuery/index.css';

.Circle {
  display: block;
  width: 25px;
  height: 25px;

  flex-grow: 0;
  flex-shrink: 0;

  border: solid var(--retune-border-width) var(--retune-col-blue);
  border-radius: 100%;

  background-color: var(--retune-col-blue);
}

@media (--small) {
  .Circle {
    width: 18px;
    height: 18px;
  }
}

.isOpen {
  background-color: #fff;
}

.isClosed {
}
