@import '../MediaQuery/index.css';

/*
  Service layout
*/
.Service {
  padding: 24px 50px;
  border-top: 4px solid #fff;
}

@media (--large) {
  .Service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .Service .heading {
    grid-area: heading;
  }

  .Service .info {
    grid-area: info;
  }

  .Service .content {
    grid-area: content;
  }

  [data-layout-id='1a'] {
    grid-template-areas: 'heading heading heading heading' 'photoGallery photoGallery content content' 'video video video clients';
  }

  [data-layout-id='1b'] {
    grid-template-areas: 'heading heading heading heading' 'video video content content' 'photoGallery photoGallery photoGallery clients';
  }

  [data-layout-id='2a'] {
    grid-template-areas: 'heading heading heading heading' 'content photoGallery photoGallery photoGallery';
  }

  [data-layout-id='2a'] .video,
  [data-layout-id='2a'] .clients {
    display: none;
  }

  [data-layout-id='3a'] {
    grid-template-areas: 'heading heading heading heading' 'video video video video' 'content content content clients';
  }

  [data-layout-id='3a'] .photoGallery {
    display: none;
  }

  [data-layout-id='3b'] {
    grid-template-areas: 'heading heading heading heading' 'photoGallery photoGallery photoGallery photoGallery' 'content content content clients';
  }

  [data-layout-id='3b'] .video {
    display: none;
  }

  .name {
    grid-area: heading;
  }

  .description {
    grid-area: content;
    padding-bottom: 33px;
  }

  .photoGallery {
    grid-area: photoGallery;
    padding-bottom: 33px;
  }

  .video {
    grid-area: video;
  }

  .clients {
    grid-area: clients;
  }
}

.name {
  text-align: center;
  color: var(--retune-col-blue);
}

.description {
  color: var(--retune-col-blue);
}

.description p {
  margin: 0;
}

.clients {
  padding-top: 16px;
  text-align: center;
}

.clients ul,
.clients ol,
.clients li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description,
.clients,
.video,
.photoGallery {
  padding-bottom: 16px;
}

/*
  Dashed underline heading effects
*/
.DashedUnderlineHeading {
}

.DashedUnderlineHeading:after {
  content: attr(data-underline-template);
  display: block;
}
