.inner {
  margin: 40px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px;
  grid-column-gap: 50px;
  grid-template-areas: 'type type' 'meta social' 'content image' 'related related';
}

.type {
  grid-area: type;
  align-self: center;
  justify-self: center;

  margin-bottom: 16px;
}

.type a {
  text-decoration: none;
  color: #000;
}

.type a:before {
  content: '-> ';
}

.header {
  grid-area: meta;
  margin-bottom: 48px;
  margin-left: 45px;
}

.image {
  grid-area: image;
  margin-right: 45px;
}

.title,
.startDate {
  margin: 0;

  font-size: 40px;
  font-weight: normal;
  line-height: 1.13;
}

.body {
  grid-area: content;
  max-width: 647px;
  margin-left: 45px;
}

.body {
  line-height: 1.2;
  margin-bottom: 20px;
}

.ticket {
  grid-area: social;
  padding-top: 24px;
  font-weight: normal;
  margin-right: 45px;
}

.related:before {
  content: '';
  display: block;
  grid-area: related;

  margin: 32px 45px 32px 45px;
  padding-bottom: 32px;
  border-top: 3px solid #000;
}

.related {
  grid-area: related;
}

.relatedHeading {
  margin-bottom: 32px;
  text-align: center;
}

.relatedLatestInner {
  padding-left: 40px;
}
