@import '../MediaQuery/index.css';

/* Component before provides top spacing */
.Promo {
  margin: 0 20px 22px 20px;
  padding: 0;
  padding-bottom: 25px;

  border-bottom: 2px solid black;
}

@media (--small) {
  .Promo {
    border-bottom-width: 1px;
  }
}

.heading {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

@media (--large) {
  .Promo {
    margin: 30px 50px;
  }
}

.Promo a {
  display: block;
  width: 100%;
  height: 100%;
}

.Promo img {
  width: 100%;
}
