@import '../MediaQuery/index.css';

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('./fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('./fonts/AtlasGrotesk-Regular-Web.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
    url('./fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

body {
  margin: 0;
}

body,
button {
  font-family: 'Atlas Grotesk Web', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.sans {
  font-family: 'Atlas Grotesk Web', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue';
}

.serif {
  font-family: 'Times New Roman', Times, serif;
}

.mono,
.mono-before:before,
.mono-after:after {
  font-family: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: var(--retune-col-blue);
}

.links-within a,
a.link {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}

.mql-xxl .link,
.mql-xl .link,
.mql-m .link {
  border-bottom-width: 2px;
}

.links-within a:hover,
a:hover.link {
  border-bottom-color: var(--retune-col-blue);
}

a.link.link-black {
  color: #000;
}

a:hover.link.link-black {
  border-bottom-color: #000;
}

a.link.link-white {
  color: #fff;
}

a:hover.link.link-white {
  border-bottom-color: #fff;
}

:root {
  --retune-col-blue: #000096;
  --retune-col-selected: #4a90e2;
  --retune-col-grey: #e6e6e6;
  --retune-masthead-h: 75px;
}

@media (--small) {
  :root {
    --retune-masthead-h: 55px;
  }
}

/* Typography */
.mqs-xl {
  /* font-size: 25px; */
  font-size: 20px;

  line-height: 1.2;
}

.mqs-l {
  /* font-size: 18px; */
  font-size: 15px;
  line-height: 1.2;
}

.mqs-m {
  /* font-size: 15px; */
  font-size: 12px;
  line-height: 1.2;
}

.mqs-s {
  /* font-size: 12px; */
  font-size: 10px;
  line-height: 1.2;
}

.mqs-xs {
  /* font-size: 8px; */
  font-size: 7px;
  line-height: 1.2;
}

@media (--large) {
  .mql-xxl {
    /* font-size: 65px; */
    font-size: 52px;
    line-height: 1.2;
  }

  .mql-xl {
    /* font-size: 40px; */
    font-size: 32px;
    line-height: 1.2;
  }

  .mql-l {
    /* font-size: 29px; */
    font-size: 23px;
    line-height: 1.2;
  }

  .mql-m {
    /* font-size: 25px; */
    font-size: 20px;
    line-height: 1.2;
  }

  .mql-s {
    /* font-size: 18px; */
    font-size: 15px;
    line-height: 1.2;
  }

  .mql-xs {
    /* font-size: 15px; */
    font-size: 15px;
    line-height: 1.2;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
