@import '../MediaQuery/index.css';

.Social > * {
  margin-right: 22px;
}

.Social a {
  opacity: 0.85;
}

.Social a:hover {
  opacity: 1;
}

@media (--small) {
  .Social a {
    display: inline-block;
    transform: scale(0.7);
  }

  .Social > * {
    margin-right: 7px;
  }
}
