@import '../MediaQuery/index.css';

.disclosureArrow {
  transition: transform 300ms ease-in-out;
}

.disclosureArrow.medium {
  width: 20px;
}

@media (--large) {
  .disclosureArrow.medium {
    width: 28px;
  }
}

.isOpen {
  transform: rotate(0);
}

polygon {
  transition: fill 300ms ease-in-out;
}

.isClosed polygon {
  fill: var(--retune-col-blue);
}

.isClosed {
  transform: rotate(-90deg);
}
