.disclosureArrow {
  transition: transform 300ms ease-in-out;
}

.disclosureArrow.medium {
  width: 35px;
}

.isOpen {
  transform: rotate(0);
}

polygon {
  transition: fill 300ms ease-in-out;
}

.isClosed polygon {
  fill: var(--retune-col-blue);
}

.isClosed {
  transform: rotate(-90deg);
}
