@import '../MediaQuery/index.css';

/* Page layout */
.Page {
  padding: 24px 50px;
}

.info {
  padding-bottom: 80px;
}

@media (--large) {
  .Page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'heading heading info info' 'left left right right';
  }

  .heading {
    grid-area: heading;
  }

  .info {
    grid-area: info;
    padding-bottom: 118px;
  }
}

.iframe {
  width: 100%;
  height: 200px;
  border: none;
}

/*
  Section layout
*/
.section {
  padding-top: 20px;
  border-top: var(--retune-border-width) solid var(--retune-col-blue);
}

/* All rendered CMS content should be the same size */
.sectionContent * {
  font-size: inherit;
}

@media (--large) {
  .left {
    grid-area: left;
    padding-right: 25px;
  }

  .right {
    grid-area: right;
    padding-left: 25px;
  }
}
