@import '../components/MediaQuery/index.css';

.About {
  padding: 24px 50px;
}

.heading,
.info {
  padding-bottom: 24px;
}

.section {
  border-top: 1px solid var(--retune-col-blue);
  padding-top: 20px;
  padding-bottom: 30px;
}

.sectionHeading {
  color: var(--retune-col-blue);
}

.team:before {
  content: '';
  display: block;
  grid-area: border;
  margin: 0 50px;

  border-top: 1px solid var(--retune-col-blue);
}

.team {
  border: none;
}

@media (--large) {
  .About {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 54px;
    grid-template-areas: 'heading info' '. .' '. .' 'border border' 'team team';

    padding: 24px 0 239px 0;
  }

  .heading,
  .info {
    padding-bottom: 179px;
  }

  .heading {
    margin-left: 50px;
  }

  .info {
    margin-right: 50px;
  }

  .section:nth-child(odd):not(.team) {
    margin-left: 50px;
  }

  .section:nth-child(even):not(.team) {
    margin-right: 50px;
  }

  .heading .break {
    display: block;
  }

  .section {
    padding-bottom: 85px;
  }

  .team .sectionHeading {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.heading {
  grid-area: heading;
}

.info {
  grid-area: info;
}

.team {
  grid-area: team;
  justify-content: start;

  width: 100vw;
}

.teamList {
  width: 100%;
  padding-left: 50px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.team ul,
.team li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team ul {
  display: flex;
  justify-content: flex-start;
}

.Member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-right: 50px;
  margin-bottom: 20px; /* for scroll bar */

  color: var(--retune-col-blue);
}

.Member .avatar {
  width: 300px;
  height: 300px;
  margin-bottom: 23px;

  border-radius: 100%;
}
