@import '../components/MediaQuery/index.css';

.Festivals {
  padding: 24px 50px;
}

/* Page intro */
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left right' 'images images';
}

.heading {
  grid-area: left;
}

.info {
  grid-area: right;
  margin-bottom: 50px;
}

/*
  Above .images (PhotoGallery)
*/
.heading,
.info {
  z-index: 1;
}

.heading span {
  display: block;
}

.images {
  width: 100%;
  margin-top: -60px;

  grid-area: images;
}

.outro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;

  margin-top: 116px;
}
