@import '../components/MediaQuery/index.css';

.Imprint {
  padding: 24px 50px;
}

.info {
  padding-bottom: 80px;
}

@media (--large) {
  .Imprint {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'heading heading info info' 'left left right right';
  }

  .heading {
    grid-area: heading;
  }

  .info {
    grid-area: info;
    padding-bottom: 181px;
  }
}

.iframe {
  width: 100%;
  height: 200px;
  border: none;
}
