@import '../components/MediaQuery/index.css';

.latest {
  margin-bottom: 34px;
}

.latestInner {
  margin: 22px 0 22px 0;
}

@media (--large) {
  .Latest {
    margin-bottom: 58px;
  }

  .latestInner {
    margin: 45px 0 55px 0;
  }
}
