@import '../components/MediaQuery/index.css';

/*

Page layout
*/
.Services {
  padding-top: 30px;
  background-color: var(--retune-col-grey);
}

.header {
  margin-bottom: 35px;
}

.heading .break {
  display: block;
}

.heading,
.info {
  color: var(--retune-col-blue);
  padding-left: 16px;
  padding-right: 16px;
}

.info p {
  margin: 0;
}

@media (--large) {
  .Services {
    padding-bottom: 314px;
  }

  .section {
    padding-bottom: 85px;
  }

  .header {
    margin-bottom: 131px;
  }

  .heading,
  .info {
    padding-left: 50px;
    padding-right: 50px;
  }
}
