@import '../components/MediaQuery/index.css';

.StudioVisits {
  position: relative;
  padding: 24px 0;
}

.StudioVisits {
  padding-left: 16px;
  padding-right: 16px;
}

/* Above .images */
.header {
  z-index: 1;
}

@media (--small) {
  .header {
    margin-bottom: 16px;
  }
}

.heading span {
  display: block;
}

.video {
  position: relative;
  z-index: -1;
}

@media (--large) {
  .StudioVisits {
    padding: 0;
  }

  .intro .header {
    padding-top: 24px;
  }

  .upcomingHeading,
  .upcomingLatestInner,
  .StudioVisits > :not(.upcoming, .intro),
  .intro .header {
    padding-left: 50px;
    padding-right: 50px;
  }

  .intro {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: row;
  }

  .intro > * {
    grid-area: row;
  }

  .intro {
    color: #fff;
  }

  .outro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
