@import '../components/MediaQuery/index.css';

.StudioVisits {
  position: relative;
  padding: 24px 50px;
}

/* Page intro */
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left right' 'images images';

  margin-bottom: 487px; /* images height 667 - intro height 180px */

  color: #fff;
}

.heading {
  grid-area: left;
}

.info {
  grid-area: right;
}

.heading span {
  display: block;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-blend-mode: multiply;
  background-image: linear-gradient(to left, #000096, #d8d8d8);
  border: solid 1px #979797;

  width: 100%;
  height: 667px;
  margin-top: -60px;

  grid-area: images;

  z-index: -1;
}

.outro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
