@import '../components/MediaQuery/index.css';

.StudioVisits {
  position: relative;
  padding: 24px 50px;
  /* margin-top: var(--retune-masthead-h); */
}

/* Page intro */
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left right' 'images images';

  margin-bottom: 487px; /* images height 667 - intro height 180px */

  color: #fff;
}

.heading {
  grid-area: left;
}

.info {
  grid-area: right;
}

.heading span {
  display: block;
}

/* Above .images */
.heading,
.info {
  z-index: 1;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  grid-area: images;
}

.images :global(.carousel__slider) {
  mix-blend-mode: multiply;
}

.images:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: linear-gradient(
    to left,
    hsla(240, 100%, 29%, 1),
    hsla(0, 0%, 85%, 1)
  );
}

.outro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 116px;
}
