.Collapsible.isLarge {
  border-top: 4px solid #000;
}

.Collapsible.isLarge:last-child {
  border-bottom: 4px solid #000;
}

.Collapsible.isSmall {
  border-top: 2px solid var(--retune-col-blue);
}

.Collapsible.isSmall:last-child {
  border-bottom: 2px solid var(--retune-col-blue);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
}

.title.isLarge {
  min-height: 148px;
  text-align: center;
}

.title.isSmall {
  color: var(--retune-col-blue);
  padding-top: 9px;
  padding-bottom: 9px;
}

.isCollapsible .title {
  justify-content: flex-start;
}

.disclosureArrow {
  margin-left: auto;
}

.isCollapsed .content {
  display: none;
}
