.Collapsible {
  border-top-style: solid;
}

.Collapsible:last-child {
  border-bottom-style: solid;
}

.Collapsible.largeBorder {
  border-top-width: 4px;
}

.Collapsible.largeBorder:last-child {
  border-bottom-width: 4px;
}

.Collapsible.smallBorder {
  border-top-width: 2px;
}

.Collapsible.smallBorder:last-child {
  border-bottom-width: 2px;
}

.Collapsible.blueBorder {
  border-top-color: var(--retune-col-blue);
}

.Collapsible.blueBorder:last-child {
  border-bottom-color: var(--retune-col-blue);
}

.Collapsible.blackBorder {
  border-top-color: #000;
}

.Collapsible.blackBorder:last-child {
  border-bottom-color: #000;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  color: var(--retune-col-blue);
}

.title.largeHeading {
  padding-top: 21px;
  padding-bottom: 21px;
}

.title.smallHeading {
  padding-top: 9px;
  padding-bottom: 9px;
}

.isCollapsible .title {
  justify-content: flex-start;
}

.disclosureArrow {
  margin-left: auto;
}

.isCollapsed .content {
  display: none;
}
