@import '../MediaQuery/index.css';

.Featured {
  margin: 0 18px;
}

.heading {
  margin: 0;
}

@media (--large) {
  .Featured {
    margin: 0 50px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

/* Event */

.Event {
  width: 100%;

  margin-right: 0;
  padding: 0 0 40px 0;
  border-top: none;
}

@media (min-width: 750px) {
  .Event {
    padding: 0 0 67px 0;
  }

  .Event:not(:first-child) {
    width: calc(50% - 50px);
    margin: 0 50px 0 0;
    padding-top: 17px;

    border-top: 3px solid #000;
  }

  .Event:last-child {
    width: 50%;

    margin-right: 0;
  }
}

.Event * {
  text-decoration: none;
}

.type {
  margin: 0;
  padding-bottom: 7px;
  text-align: center;
}

.type > a {
  color: #000;
}

.type:before {
  content: '-> ';
  font-weight: normal;
}

@media (min-width: 750px) {
  .type {
    padding-bottom: 18px;
  }
}

.title {
  margin: 0;
  padding-bottom: 7px;

  color: var(--retune-col-blue);
}

.link:hover .title span {
  text-decoration: underline;
}

.title:after {
  content: ' -> ';
  color: #000;
  font-weight: normal;
}

.summary {
  max-width: 568px;
  margin: 0;
  color: #000;
}

.image {
  /* width: 100%;
  height: auto;
  min-height: 100px; */

  margin: 0 0 16px 0;

  /* outline: 1px solid grey;
  background-color: #eee; */
}
