@import '../MediaQuery/index.css';

.meta {
  display: block;
}

.heading {
  font-weight: normal;

  margin: 0 auto 14px 0;
}

@media (--large) {
  .meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .heading {
    margin-bottom: 0;
  }
}

.info {
  margin: 0;
}
