.PhotoGallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'left center right';
}

.button {
  width: 76px; /* 46 width + 30 padding */
  padding: 0;

  z-index: 2;

  background: transparent;
  border: none;
  opacity: 0;

  transition: opacity 300ms ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.PhotoGallery:hover .button:not(:disabled) {
  opacity: 1;
}

.ButtonBack {
  grid-area: left;
  grid-row: 1;

  padding-left: 30px;
}

.ButtonNext {
  grid-area: right;
  grid-row: 1;
  justify-self: end;

  padding-right: 30px;
}

.Slider {
  grid-column-start: left;
  grid-column-end: right;
  grid-row: 1;
}
