.container {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.container * {
  outline: none;
}

.item {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.7;
}

.item > button {
  position: relative;

  display: block;
  width: 100%;
  height: 0;

  overflow: hidden;

  margin: 0;
  padding: 67.68% 0 0 0;

  border: none;
  background: transparent;

  cursor: pointer;
}

.item .Image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.item:hover,
.item.isSelected {
  opacity: 1;
}
