@import '../MediaQuery/index.css';

.StudioVisit {
}

/*
  Heading for the Collapsible row
*/
.heading {
  color: var(--retune-col-blue);
  display: flex;
}

.title,
.subtitle {
  flex-grow: 0;
  text-align: left;
}

.title {
  flex-shrink: 0;
  padding-right: 20px;
}

.title {
  display: inline-block;
  width: 35vw;
}

@media (--large) {
}

/*
  Content within the collapsible
*/
.content {
  margin-top: 55px;
  padding: 26px 30px 34px;
  background-color: #e6e6e6;
}

.content .facts {
  margin-bottom: 50px;
}

.content .facts p {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'info images' 'link caption';
  grid-column-gap: 50px;
}

.info {
  grid-area: info;
}

.images {
  grid-area: images;
}

.link {
  grid-area: link;
}

.caption {
  grid-area: caption;
}
