.StudioVisit {
}

.heading {
  color: var(--retune-col-blue);
}

.title {
  display: inline-block;
  margin-right: 72px;
}

.content {
  margin-top: 55px;
  padding: 26px 30px 34px;
  background-color: #e6e6e6;
}

.content .facts {
  margin-bottom: 50px;
}

.content .facts p {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'info images' 'link caption';
  grid-column-gap: 50px;
}

.info {
  grid-area: info;
}

.images {
  grid-area: images;
}

.link {
  grid-area: link;
}

.caption {
  grid-area: caption;
}
