@import '../MediaQuery/index.css';

.StudioVisit {
}

/*
  Heading for the Collapsible row
*/
.heading {
  color: var(--retune-col-blue);
  display: flex;
}

.title,
.subtitle {
  flex-grow: 0;
  text-align: left;
}

.title {
  flex-shrink: 0;
  padding-right: 20px;
}

.title {
  display: inline-block;
  width: 35vw;
}

/*
  Content within the collapsible
*/
.content {
  margin-top: 8px;
  padding: 16px;
}

.content .facts {
  margin-bottom: 25px;
}

.content .facts p {
  margin: 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-size: inherit;
}

@media (--large) {
  .content {
    margin-top: 25px;
    padding: 26px 0 34px;
  }

  .content .facts {
    margin-bottom: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'info images' 'link caption';
    grid-column-gap: 50px;
    margin-top: 0;
  }

  .info {
    grid-area: info;
  }

  .images {
    grid-area: images;
  }

  .caption {
    grid-area: caption;
  }
}
