@import '../MediaQuery/index.css';

.Intro {
  display: flex;
  flex-direction: column;

  position: relative;
}

.IntroContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

@media (--small) {
  .IntroContent {
    padding: 18px 18px 28px 18px;
  }
}

@media (--large) {
  .IntroContent {
    padding: 28px 50px 38px 50px;
  }
}

.Intro > * {
  color: #000;
  font-weight: normal;
}

.title,
.subtitle {
  margin: 0;
}

.isFullViewport {
  min-height: calc(85vh - var(--retune-masthead-h));
  width: 100vw;
}

.break {
  display: table;
}

.title {
  color: #fff;
}

.subtitle {
  padding-bottom: 32px;
}

.info {
  margin-top: auto;
  margin-bottom: 0;
}
