@import '../MediaQuery/index.css';

.Intro {
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    to bottom left,
    #76cbc3,
    #ba7be4,
    #24d7c0,
    #24d7c0
  );
}

@media (--small) {
  .Intro {
    padding: 10px 18px 31px 18px;
  }
}

@media (--large) {
  .Intro {
    padding: 18px 50px 66px 50px;
  }
}

.Intro > * {
  color: #000;
  font-weight: normal;
}

.title,
.subtitle {
  margin: 0;
}

.isFullViewport {
  min-height: calc(100vh - var(--retune-masthead-h));
  width: 100vw;
}

.break {
  display: table;
}

.title {
  color: #fff;
}

.subtitle {
  padding-bottom: 32px;
}

.info {
  margin-top: auto;
  margin-bottom: 0;
}
