@import '../MediaQuery/index.css';

.Footer {
  padding: 25px 19px;
  font-size: 25px;

  color: #fff;
  background-color: #000;
}

.Footer a,
.Footer a:link,
.Footer a:visited,
.Footer a:hover {
  color: #fff;
  text-decoration: none;
}

.Infos {
  display: flex;
  flex-direction: column;
}

.company {
  display: none;
}

.company > a > * {
  display: block;
}

.social {
  margin-bottom: 16px;
  align-self: center;
}

.links {
  order: 10;
  align-self: center;

  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  display: inline-block;
}

.links li:after {
  display: inline-block;
  content: '•';
  padding: 0 10px;
}

.links li:last-child:after {
  content: unset;
}

.imprint {
  align-self: end;
  margin: 0 0 9px 0;
}

.newsletter {
  display: flex;
  justify-content: center;
  margin: 0px 0 20px 0;
}

/* Grid layout */
@media (min-width: 800px) {
  .Footer {
    padding: 48px;
  }

  .Infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'company newsletter' 'company links';
    grid-row-gap: 0;
  }

  .company {
    display: block;
    grid-area: company;
  }

  .social {
    grid-area: newsletter;
    margin-left: auto;
    margin-bottom: 0;
  }

  .newsletter {
    margin: 0;
    grid-area: newsletter;
    margin-right: auto;
  }

  .links {
    order: 0;
    grid-area: links;
    align-self: end;
  }
}
