@import '../MediaQuery/index.css';

.Hero {
  margin-top: 0;
}

@media (--large) {
  .Hero {
    margin-top: 40px;
  }
}

.Hero .images,
.Hero .link {
  margin: 20px 0 30px 0;
  text-align: center;
}

.Hero .title,
.Hero .subtitle {
  margin: 0;
  text-align: center;
}

.titles {
  padding-top: 42px;
}

.title {
  color: var(--retune-col-blue);
}

.link {
  padding-top: 42px;
}
