@import '../MediaQuery/index.css';

.Festival .title {
  display: flex;
  color: var(--retune-col-blue);
}

.Festival .link > span {
  color: var(--retune-col-blue);
}

.Festival .link a {
  text-decoration: none;
}

.sectionContent {
  padding-bottom: 1rem;
}

.sectionContentHeading {
  text-decoration: underline;
  text-indent: 1.5rem;
}

.sectionContentList {
  padding-left: 1rem;
}

.meta {
  color: var(--retune-col-blue);
}

@media (--large) {
  .FestivalContent {
    padding-bottom: 120px;
  }

  .twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }

  .meta {
    padding-top: 22px;
    padding-bottom: 44px;
  }
}
