@import '../MediaQuery/index.css';

.EventArchive {
  padding: 30px 19px 19px 19px;
  background-color: rgba(175, 229, 221, 0.14);
}

@media (--large) {
  .EventArchive {
    padding: 100px 48px 48px 48px;
  }
}

.meta {
  display: block;
  margin-bottom: 35px;
}

.heading {
  font-weight: normal;

  margin: 0 auto 14px 0;
}

@media (--large) {
  .meta {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 91px;
  }

  .heading {
    margin-bottom: 0;
  }
}

.info {
  margin: 0;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.table th {
  height: 29px;
  vertical-align: top;

  text-align: left;
  font-weight: normal;
}

.table td {
  height: auto;
}

.table tbody tr {
  cursor: pointer;
}

.table th,
.table td {
  padding: 6px;
  vertical-align: top;

  color: var(--retune-col-blue);
}

@media (--large) {
  .table th {
    height: 72px;
  }

  .table td {
    height: 49px;
  }

  .table th,
  .table td {
    padding: 13px;
    border-bottom: 1px solid var(--retune-col-blue);
  }
}

.table th.type {
  width: 43%;
}

.table th.title {
  /* width: 51%; */
}

.table .date {
  display: none;
}

.table .link {
  display: none;
}

@media (--large) {
  .table th.type {
    width: 25%;
  }

  .table th.title {
    width: 51%;
  }

  .table th.date {
    width: 20%;
  }

  .table .date {
    display: table-cell;
  }

  .table .link {
    display: table-cell;
  }
}

.table .link {
  /* vertical-align: middle; */
}

.table .link a {
  color: #000;
}

.table .link a,
.table .link a:visited,
.table .link a:hover {
  text-decoration: none;
}
