@import '../MediaQuery/index.css';

.Masthead {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: var(--retune-masthead-h);

  background: #e6e6e6;

  z-index: 100;
}

.MastheadInner {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  padding: 0;
  padding-right: 64px;

  height: 100%;

  border: none;
  background: transparent;
  color: var(--retune-col-blue);

  cursor: pointer;
}

.opener {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 18px;
  padding: 0 8px 0 0;
  outline: none;
}

.isOpen * {
  user-select: none;
  -moz-user-select: none;
}

.Masthead.isOpen .MastheadInner {
  color: #fff;
  background: var(--retune-col-blue);
}

.Masthead.isOpen .MastheadInner:before {
  background-color: #fff;
  border-color: #fff;
}

/* @media (--large) {
  .MastheadInner:before {
    width: 30px;
    height: 30px;
    margin-left: 46px;
    margin-right: 22px;
  }
} */

.site .tagline {
  display: none;
}

.feature {
  display: none;
}

.feature a {
  text-decoration: none;
}

.sep {
  display: inline-block;
}

@media (min-width: 560px) {
  .Masthead:not(.isOpen) .site {
    display: none;
  }

  .Masthead.isOpen .tagline {
    display: inline-block;
  }

  .site {
    margin: auto;
  }

  .Masthead:not(.isOpen) .feature {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
